.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url("../../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
}

.formLayout {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-style: solid;
    border-radius: 3em;
    border-color: #ffac33;
    margin-top: 20vh;
    width: 30vw;
    height: 40vh;
    background-color: rgb(238, 184, 103);
    opacity: 0.6;
    margin-bottom: 185px;
}

.loginBox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.loginInput {
    width: 20vw;
    margin-bottom: 1vh!important;
    text-align:right;
    background-color: rgb(232, 242, 243);
}


.loginBtn {
    width: 15vw;
    margin-top: 1vh !important;
    margin-bottom: 2vh!important;
    background-color: rgb(232, 242, 243)!important;
    opacity: 0.9;
}

.checkboxFaculty {
    direction: ltr;
    margin-right: 120px!important;
 }
