
.innerMessage {
    margin: 0 auto;
}
.alert {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 99999999;
}